body{
  font-family: 'Inter', sans-serif !important;
  height: 100vh;
}
.cardRow{
    margin-bottom: 7rem;
}

.servicesHeader{
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.bookButton{
    background-color: #4D0000 !important;
    border: #4D0000 !important;
}